.obras{
    display:flex;
    justify-content: center;
    flex:30%;
    &__column{
        flex:30%;
        padding: 5px;
        overflow: hidden;
    }
    &__column img{
        width: 100%;
        margin-top: 5px;
        &:hover{
            -webkit-transform: scale(1.3);transform:scale(1.3);
        }
    }
}

.img{
    width: 100%;
}
.row{
    display:flex;
    flex-wrap: wrap;
    width: 80%;
}

/*.column{
    flex:100%;
    padding: 5px;
}

.column img{
    width: 100%;
    margin-top: 5px;
}
.column img:hover{
    -webkit-transform: scale(1.3);transform:scale(1.3);
}
.column{
    overflow: hidden;
}*/
@media (max-width: 900px){
    .obras__column{
        flex:50%;
    }
}
@media (max-width: 600px){
    .obras__column{
        flex:100%;
    }
}
